<div class="container">
	<ul>
		<li>{{topic.title}}</li>
		<li>{{topic.topic}}</li>
	</ul>
	<div ng-if="permission">
		<input-field>
		    <textarea ng-model="answer" class="materialize-textarea"></textarea>
		    <label>Question</label>
		</input-field>
		</br>
		<button class="waves-effect waves-light btn" ng-click="submitAnswer()">Submit Answer</button>

	</div>
	<div class="login-needed" ng-if="!permission">
		Sorry you need to be logged in to answer this question
		<ul>
			<li><button class="waves-effect waves-light btn" ng-click="reg(register)">SignUp</button></li>
			<li><button class="waves-effect waves-light btn" ui-sref="home">Login</button></li>
		</ul>
	</div>
</div>