<div class="container">
	
	<ul>
		<li>{{topic.title}}</li>
		<li>{{topic.topic}}</li>
		<li>this item is due{{topic.date}}</li>
	</ul>

	<div ng-if="permission">
		<input-field>
		    <textarea ng-model="answer.body" class="materialize-textarea"></textarea>
		    <label>Question</label>
		</input-field>
		</br>
		<button class="waves-effect waves-light btn" ng-click="submitAnswer(answer)">Submit Answer</button>
	</div>

	<div class="login-needed" ng-if="!permission">
		<p>Sorry you need to be logged in to answer this question</p>
		<button class="waves-effect waves-light btn" ng-click="reg(register)">SignUp</button></li>
		<button class="waves-effect waves-light btn" ui-sref="login">Login</button></li>
	</div>

</div>