<div class="container">Sign in
	<div input-field>
	  <input type="text" ng-model="sign.firstname" length="150">
	  <label>Enter First Name</label>
	</div>
	<div input-field>
	  <input type="text" ng-model="sign.lastname" length="150">
	  <label>Enter Last Name</label>

	</div>
	<div input-field>
	  <input type="text" ng-model="sign.username" length="150">
	  <label>Enter a Username</label>
	</div>
	<p>
	    <div class="input-field col s12">
	     <select class="browser-default" ng-model="usertype">
	     <label>UserType</label>
	     </br>
	     </br>
	         <option value="" disabled selected>I am signing in as a...</option>
	               <option value="1">Student</option>
	               <option value="2">Teacher</option>
	               
	     </select>
	    </div>
	  </p>
	</li>
	</ul>
	</br>
	</br>
	</br>

	<button class="waves-effect waves-light btn" ui-sref="assignmentlist">View Assignments</button>
</div>
