<div class="container">
	
	<div id="register">
			<p>Sign in</p>
			<input-field>
			  <input type="text" ng-model="user.firstname" length="150">
			  <label>Enter First Name</label>
			</input-field>
			<input-field>
			  <input type="text" ng-model="user.lastname" length="150">
			  <label>Enter Last Name</label>
			</input-field>
			<input-field>
			  <input type="text" ng-model="user.username" length="150">
			  <label>Enter a Username</label>
			</input-field>
			<p>
			    <div class="input-field col s12">
				    <select class="browser-default" ng-model="user.usertype">
					    <label>UserType</label>
					    </br>
					    </br>
				        <option value="" disabled selected>I am signing in as a...</option>
				        <option value="1">Student</option>
				        <option value="2">Teacher</option>      
				    </select>
			    </div>
			</p>
			</br>
			<button class="waves-effect waves-light btn" ng-click="signup(user)">Sign Up</button>
			</br>
			<p>
				<a href="#" ng-click="loginUser()">Existing User Login</a>
			</p>

		</div>

</div>